<p><br><br><br><br><br></p>
<p> <font size="+3"> GAMES PLAYED</font> </p>
<table>
    
  <tr>
    
    <th> Home Team</th>
    <th>Goals</th>
    <th> </th>
    <th>Goals</th>
    <th> Away Team </th>
    <th> Match Date</th>
  </tr>
  <tr *ngFor = "let ga of match">
    
    <td align='center'> {{ga.homeTeam.name}} </td>
    <td align='center'>{{ga.score.fullTime.homeTeam}}</td>
    <td align='center'> -- </td>
    <td align='center'>{{ga.score.fullTime.awayTeam}}</td>
    <td align='center'> {{ga.awayTeam.name}} </td>
    <td align='center'> {{ga.utcDate}}</td>
  </tr>
</table>