<p><br><br><br><br><br></p>
<p> <font size="+3"> SCHEDULED GAMES </font> </p>
<table>
    
  <tr>
    
    <th> Home Team</th>
    <th>Goals</th>
    <th> </th>
    <th>Goals</th>
    <th> Away Team </th>
    <th> Match Date</th>
  </tr>
  <tr *ngFor = "let gam of match">
    
    <td align='center'> {{gam.homeTeam.name}} </td>
    <td align='center'>{{gam.score.fullTime.homeTeam}}</td>
    <td align='center'> -- </td>
    <td align='center'>{{gam.score.fullTime.awayTeam}}</td>
    <td align='center'> {{gam.awayTeam.name}} </td>
    <td align='center'> {{gam.utcDate}}</td>
  </tr>
</table>