<!--The content below is only a placeholder and can be replaced.-->

<h1> <img src='../assets/1.jpg' style="width:150px;height:140px;border:0;" >  Brasil Série A </h1> 
<ul>
<li> <a routerLink ="/components/players"> <h2>Players</h2> </a></li>
<li> <a routerLink ="/components/standings"> <h2> Standings </h2></a></li>
<li> <a routerLink ="/components/played"> <h2> Games Played </h2></a></li>
<li> <a routerLink ="/components/fixtures"> <h2>Scheduled Games </h2></a></li>
</ul>

<router-outlet></router-outlet>
