	h1{margin: 1em 0 0.5em 0;
        color: #343434;
        font-weight: normal;
        font-family: 'Ultra', sans-serif;   
        font-size: 36px;
        line-height: 42px;
        text-transform: uppercase;
        text-shadow: 0 2px white, 0 3px #777;}
        h2 {
            margin: 1em 0 0.5em 0;
            font-weight: normal;
            position: relative;
            text-shadow: 0 -1px rgba(0,0,0,0.6);
            font-size: 28px;
            line-height: 40px;
            background: #355681;
            background: rgba(53,86,129, 0.8);
            border: 1px solid #fff;
            padding: 5px 15px;
            color: white;
            border-radius: 0 10px 0 10px;
            box-shadow: inset 0 0 5px rgba(53,86,129, 0.5);
            font-family: 'Muli', sans-serif;
        }
        li a{ display: block;
        text-align:center;
        text-decoration: none;
    }
    ul {
        list-style-type:none
        ;
    }
    li {
        float: left;
    }