

<table>
  <tr>
    <th> Rank </th>
    <th> Teams</th>
    <th>  Games Won  </th>
    <th>  Draw Games  </th>
    <th>  Games Lost  </th>
    <th>  Game Points  </th>
  </tr>
  <tr *ngFor = "let stand of table">
    <td> {{stand.position}} </td>
    <td>{{stand.team.name}}</td>
    <td>{{stand.won}}</td>
    <td>{{stand.draw}}</td>
    <td>{{stand.lost}}</td>
    <td>{{stand.points}}</td>
  </tr>
</table>