<p><br><br><br><br><br></p>
<p> <font size="+5"> ----- SE Palmeiras -----</font> </p>
<table class = "hello">
    
  <tr>
    <th> Name</th>
    <th> Position</th>
    <th> Nationality </th>
  </tr>
  <tr *ngFor = "let sqd of squad">
    <td> {{sqd.name}}</td>
    <td> {{sqd.position}} </td>
    <td> {{sqd.nationality}} </td>

  </tr>
</table>