

table {
	border-collapse: collapse;
	width: 100%;
  }
  
  th, td {
	padding: 8px;
	text-align: center;
	border-bottom: 1px solid #ddd;

  }

h2{
	text-align: center;
	color:black;

}
p{
	text-align:center;
}